Package: com.pruefsumme.tubepod
Name: TubePod
Version: 0.0.3~beta1
Architecture: iphoneos-arm
Description: Save authorized YouTube audio to the native Music library on iOS 6.
Maintainer: pruefsumme
Author: pruefsumme
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 6.0), firmware (<< 7.0)
